
.reviews-container {
  max-width: 1500px;
  margin: 0 auto 100px 3%;
  grid-area: reviews;
  width: 90%;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
/* repeat(auto-fit, minmax(340px, 1fr)); */
  gap: 20px;
  margin: 20px 0;
}

.reviews-container .ant-pagination {
  /* text-align: center; */
}

.search {
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  height: 44px;
}

.search .ant-input-search {
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  border-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px;
}

.search .ant-input-search input {
  background: #fff;
}

.jumbotron {
  max-width: 1140px;
  margin: 0 auto 30px auto;
  padding: 40px 20px;
  font-size: 20px;
  display: block;
  justify-content: center;
}

.jumbotron h1 {
  font-weight: 300;
  font-size: 7vh;
  line-height: 1.3;
  margin: 0 0 10px 0;
  display: block;
}

.jumbotron__content {
  display: inline-block;
  position: relative;
}

.jumbotron h1 b {
  font-weight: 600;
  background: rgba(0, 0, 0, 0.85);
  padding: 0 10px;
  color: #e9ecef /*#f9e448;*/
  /* mix-blend-mode: multiply; */
}

.jumbotron__review {
  /* text-align: right; */
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 50px;
}

.jumbotron__review .ant-btn {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
}

@media (max-width: 575px) {
  .jumbotron {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1450px) {
  .reviews {
    grid-template-columns: 1fr;
  }
  .reviews-container {
    max-width: 900px;
  }
}

.write-review {
  text-align: center;
  background: #fff;
  display: block;
  width: 230px;
  padding: 20px;
  border-radius: 5px;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px;
}

.Home .ant-checkbox + span {
  padding: 0 4px;
}

.search__options {
  padding: 2px 6px;
}



.filter {
  grid-area: filter;
  width: 300px;
  min-height: 400px;
  padding: 20px;
}

.filter .ant-form-item {
  margin-bottom: 10px;
}
.filter .ant-form-item-label {
  padding: 0;
}
.filter .date-range {
  display: flex;
}

.filter-toggle {
  opacity: 0;
  pointer-events: none;
}
.drawer-shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  z-index: 99;
  opacity: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}
.filter-close {
  position: absolute;
  padding: 5px 8px;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 18px;
}
.filter-close:hover {
  color: rgba(0,0,0,0.5);
}
@media screen and (max-width: 1300px) {
  .results {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .content {
    grid-template-areas: 
      "sort sort"
      "results results";
    grid-template-columns: 1fr auto;
  }
  .filter {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.25s ease;
    /* box-shadow: 0 0 10px 10px rgba(0,0,0,0.05); */
  }
  .filter-toggle {
    opacity: 1;
    pointer-events: all;
  }
  .drawer-shade.visible {
    opacity: 1;
    pointer-events: all;
  }
  .filter.visible {
    transform: none;
  }
}

.search-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "filter reviews";
}

.sort-direction {
  transition: transform 0.25s ease;
}

.sort-direction.ascending {
  transform: rotate(180deg);
}

.sort-input {
  display: flex;
  margin-left: auto;
}

.reviews-header {
  display: flex;
}

.card_amazon {
  opacity: 1.0;
  background-clip: border-box !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  border-radius: .5rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  margin-bottom: 10px !important;
  width: 75% !important;
  height: 15% !important;
}

.btn-orange {
  background-color: #ffbd00 !important;
  color: #ffffff !important !important;

}

.card_amazon_header {
    opacity: 1.0;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(245,245,245,1);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    font-size: larger;
  
}

.card_amazon_body {
    opacity: 1.0;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: white;
}

.card_amazon_title {
    font-size: larger;
}

.card_amazon_text {
    font-size: medium; 
}
