.stat {
  margin-right: 10px;
  width: 70px; /* Added this when company culture fots were wrapping down on mobile (4 on one line then the last dot on a second line) - Sims P */
}

.stat__more {
  wifth: 120px;
}

.stat__title {
  line-height: 14px;
  color: rgba(0,0,0,1);
  font-size: 0.95em;
}

.stat__content {
  /* color: rgba(0,0,0,0.75); */
}
